{% extends "layout.html.twig" %}

{% block body %}

<div>

    <h2>Retour d'une demande d'autorisation de paiement 3D Secure</h2>

    <hr />
    <dl class="dl-horizontal">
        <dt>
           <label>Merchant Account Ref</label> 
        </dt>
        <dd>
            {{ result.merchant_account_ref }} 
        </dd>

        <dt>
            <label>Response Code</label>
        </dt>
        <dd>
            {{ result.complementary_response_code }} 
        </dd>

        <dt>
            <label>Response Message</label>
        </dt>
        <dd>
               {# {{result.response_message}} #}
        </dd>
    </dl>
</div>
 
{% endblock %}