{# templates/PaymentOption/PaymentOptionResult.html.twig #}


{% extends "layout.html.twig" %}

{% block body %}

 <h1>Liste des options de paiement</h1>

<table class="table table-bordered table-striped">
            <thead>
            <tr>
            <th>Moyen de Paiement</th>
            <th>Min Amount</th>
            <th>Max Amount</th>
            <th>Statut</th>
            <th>Option de Paiement</th>
            </thead>
            <tbody>
    {% for line in result["payment_options"] %}
            <tr>
                <td>{{line["name"]}}</td>
                <td>{{line["min_amount"]}}</td>
                <td>{{line["max_amount"]?? ''}}</td>
                <td> 
                {% if line["active"] != 1 %}
                    <span class="label label-default">Inactive</span>
                {% else %}
                    <span class="label label-success">Active</span>
                {% endif %}
                </td>
                <td> 

                {% for card in line["payment_cards"] %}
                    {% if card["name"] == "AMEX" %}
                       <span class="d-inline-block"><i class="fab fa-cc-amex" style="font-size:30px"></i> </span>
                    {% elseif card["name"] == "VISA" %}
                       <span class="d-inline-block"><i class="fab fa-cc-visa" style="font-size:30px"></i> </span>
                    {% elseif card["name"] == "MASTERCARD" %}
                       <span class="d-inline-block"><i class="fab fa-cc-mastercard" style="font-size:30px"></i> </span>
                    {% elseif card["name"] == "PAYPAL" %}
                       <span class="d-inline-block"><i class="fab fa-cc-paypal" style="font-size:30px"></i> </span>
                    {% else %}
                        <span class="d-inline-block" tabindex="0" >
                        <i class="far fa-credit-card" style="font-size:30px" data-toggle="tooltip" title="{{card["name"]}}"></i>
                        </span>
                    {% endif %}
                {% endfor %}

                </td>
            </tr>

    {% endfor %}

{% endblock %}
















